<h1>Angular 2018 {{title}}</h1>
<input (keyup)="takeInput($event)" type="text" placeholder="Type Your Name ">

<h3 [innerText]="name"></h3>
<button (click)="increment()">Counter</button>
<div [hidden]="showHide">
    <fieldset>
        <legend>Count Div</legend>
        <h2>Congrats U React to 10 </h2>
    </fieldset>

</div>
<p [class]="className">Counter is <span [innerHTML]="count"></span></p>
<hr>
<input type="text" placeholder="Type First Number" (keyup)="takeFirstNumber($event)">
<input type="text" placeholder="Type Second Number" (keyup)="takeSecondNumber($event)">
<button (click)="add()">+</button> &nbsp;&nbsp;&nbsp;<button (click)="subtract()">-</button>
<p>Result is <span [innerHTML]="result"></span></p>